<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxgqzf0rAhrfAm5dC2eaifY5mrSs45Q0o</string>
	<key>GCM_SENDER_ID</key>
	<string>400149148963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quester.game.blockbang</string>
	<key>PROJECT_ID</key>
	<string>blockbang-7a6bd</string>
	<key>STORAGE_BUCKET</key>
	<string>blockbang-7a6bd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400149148963:ios:28ef2fd6f2270959528896</string>
</dict>
</plist>